@import 'https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body { 
  font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Indie Flower', cursive; 
}

h1 {
  line-height: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  color: #42b983;
}

h1 span {
  display: block;
  font-size: .5em;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main {
  width: 75%;
  height: 100%;
  /* border: 1px dotted red; */
}

aside {
  width: 25%;
}

.logo {
  /* width: 180px; */
  width: 100%;
}

.container {
  display: inline-flex;
  align-items: center;
  max-width: 470px;
}

@media only all and (orientation: portrait) {
  aside {
    text-align: center;
  }

  .container {
    display: block;
  }
 
}