* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body { 
  font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Indie Flower', cursive; 
}

h1 {
  line-height: 0.8;
}

h1 span {
  display: block;
  font-size: .5em;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  width: 180px;
}

.container {
  display: inline-flex;
  align-items: center;
}

@media only all and (orientation: portrait) {
  aside {
    text-align: center;
  }

  .container {
    display: block;
  }
 
}